.cardParent {
    display:grid;
    grid-template-columns: repeat(auto-fit, 20rem);
}

.cardButtons {
    margin:5px;
}

#cardButtonGreen {
    margin-right:15px;
}
#cardButtonRed {
    margin-left:15px;
}